body {
  font-family: Helvetica;
  opacity: 0.9;
  color: seashell;
  background-color: black;
}

/*need to 'fix' header */

header {
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

header a {
  color: seashell;
}

.logo {
  display: flex;
  height: 50px;
  width: 100%;
  margin: 9px 10px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-tea-cozy-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px dotted lime;
}

nav {
  display: inline-block;
  flex-direction: column;
  width: 400px;
  height: 69px;
  margin-right: 10px;
  border: 1px dotted lime;
}

.mission {
  display: flex;
  margin-top: 70px;
}
